html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.animationBorder {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: rotate 4s ease-in-out 0 reverse infinite !important;
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(180deg);
    }
  }
}
@layer utilities {
  .flexs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
